<!-- <form (ngSubmit)="login(loginFormU.valid)" #loginFormU="ngForm">
    <mat-form-field>
        <input matInput name="phone" placeholder="Enter Phone Number" [(ngModel)]="loginForm.phone" type="tel" required
            #phone="ngModel">
        <mat-hint>ex: 03002465741</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Enter Password" name="pwd" [(ngModel)]="loginForm.password" [type]="'password'"
            required #password="ngModel">
    </mat-form-field>

    <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
    <button mat-raised-button name="SubmitBtn" type="submit" [disabled]='loginFormU.invalid' color="primary">Sign
        In</button>
    <button mat-button name="signupBtn" (click)="routeToSignup()">Signup!</button>
</form> -->

<!-- Material form login -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>{{ trnsl.page[pageName].title }}</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form (ngSubmit)="login(loginFormU.valid)" #loginFormU="ngForm" class="text-center" style="color: #757575;">

            <!-- Email -->
            <div class="md-form">
                <mat-form-field>
                    <input matInput name="phone" placeholder="{{ trnsl.page[pageName].phone }}"
                    pattern="^[0-9]*$" maxlength="15" [(ngModel)]="loginForm.userName" type="tel" required #phone="ngModel">

                    <mat-hint *ngIf="!phone.errors || (phone.errors && phone.errors.required)">ex: 03002465741
                        </mat-hint>
                    <mat-hint class="error" *ngIf="phone.errors && phone.errors.pattern">
                            {{trnsl.page[pageName].numbersOnlyMsg}} ex: 03002465741</mat-hint>

                </mat-form-field>
            </div>

            <!-- Password -->
            <div class="md-form">
                <mat-form-field>
                    <input matInput placeholder="{{ trnsl.page[pageName].password }}" name="pwd"
                        [(ngModel)]="loginForm.password" [type]="'password'" required #password="ngModel">
                </mat-form-field>
            </div>

            <!-- <div class="d-flex justify-content-around">
                <div>
                    Remember me
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                        <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    Forgot password
                    <a href="">Forgot password?</a>
                </div>
            </div> -->

            <!-- Sign in button -->
            <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
            <button mat-raised-button name="SubmitBtn" type="submit" [disabled]='loginFormU.invalid'
                color="primary">{{ trnsl.page[pageName].title }}</button>

            <!-- Register -->
            <p>{{ trnsl.page[pageName].notAMember }}
                <a (click)="routeToSignup()" class="underlineTxt">{{ trnsl.page[pageName].register }}</a>
            </p>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form login -->