<mat-toolbar class="pageHeading">
    <span>{{trnsl.page[pageName].register}}</span>
</mat-toolbar>
<form (ngSubmit)="signup(signupFormU.valid)" #signupFormU="ngForm">
    <mat-form-field>
        <input matInput name="phone" pattern="^[0-9]*$" [(ngModel)]="signupForm.phone" maxlength="15" #phone="ngModel"
            placeholder="{{trnsl.page[pageName].phone}}" type="tel" required>
        <mat-hint *ngIf="!phone.errors || (phone.errors && phone.errors.required)">ex: 03002465741</mat-hint>

        <mat-hint class="error" *ngIf="phone.errors && phone.errors.pattern">
            {{trnsl.page[pageName].numbersOnlyMsg}} ex:
            sdsdsdsd ex: 03002465741</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="show">
        <mat-label>Country</mat-label>
        <mat-select required name="countryId" [(ngModel)]="signupForm.countryId" #countryId="ngModel">
            <mat-option *ngFor="let country of countries" [value]="country.Id">
                {{country.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="show">
        <mat-label>City</mat-label>
        <mat-select required name="cityId" [(ngModel)]="signupForm.cityId" #cityId="ngModel">
            <mat-option *ngFor="let city of cities" [value]="city.Id">
                {{city.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{trnsl.page[pageName].district}}</mat-label>
        <mat-select required name="districtId" [(ngModel)]="signupForm.districtId" #districtId="ngModel"
            (selectionChange)="selectDistrict($event.value)">
            <mat-option *ngFor="let district of districts" [value]="district.Id">
                {{district.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{trnsl.page[pageName].area}}</mat-label>
        <mat-select required name="areaId" [(ngModel)]="signupForm.areaId" #areaId="ngModel"
            (selectionChange)="selectArea($event.value)">
            <mat-option *ngFor="let area of areas" [value]="area.Id">
                {{area.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput name="block" [(ngModel)]="signupForm.block" (focusout)="blockEvent()" maxlength="10"
            #block="ngModel" placeholder="{{trnsl.page[pageName].block}}" type="text" required>
        <mat-hint>ex: sector/street/block i.e: 11 or 11-A</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput name="houseNo" (focusout)="houseNoEvent()" pattern="^[0-9]*$" [(ngModel)]="signupForm.houseNo"
            maxlength="10" #houseNo="ngModel" placeholder="{{trnsl.page[pageName].houseNo}}" type="text" required>
        <mat-hint>ex: house# i.e: 349</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="signupForm.districtId && signupForm.areaId && signupForm.block && signupForm.houseNo">
        <textarea matInput name="address" maxlength="200" [(ngModel)]="signupForm.address" #address="ngModel"
            placeholder="{{trnsl.page[pageName].address}}" type="text" required>
        </textarea>
        <mat-hint>ex: City Area Sector Street No/Block</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput name="name" maxlength="100" [(ngModel)]="signupForm.name" #name="ngModel"
            placeholder="{{trnsl.page[pageName].name}}" type="text">
    </mat-form-field>

    <mat-form-field>
        <input matInput pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" name="email" maxlength="150"
            [(ngModel)]="signupForm.email" #email="ngModel" placeholder="{{trnsl.page[pageName].email}}" type="email">
        <mat-hint>ex: abcd@domain.com</mat-hint>
        <!-- <mat-hint class="error" *ngIf="email.errors && email.errors.pattern && signupFormU.submitted">
            {{trnsl.page[pageName].validEmail}} ex:
            sdsdsdsd ex: abcd@domain.com</mat-hint> -->
    </mat-form-field>

    <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
    <button mat-raised-button type="submit" name="SubmitBtn" [disabled]='signupFormU.invalid' color="primary">
        {{ trnsl.page[pageName].submitBtn }}</button>
    <!-- <button mat-button name="signupBtn" (click)="routeToLogin()">Login!</button> -->
</form>