<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>

    <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> <input matInput  name="1unit" [value]="element.Quantity"
            > </td>
    </ng-container>

    <ng-container matColumnDef="Recurring">
        <th mat-header-cell *matHeaderCellDef> Recurring </th>
        
        <td mat-cell *matCellDef="let element"> <mat-checkbox [checked]="element.Recurring">
            </mat-checkbox> </td>
    </ng-container>

    <ng-container matColumnDef="Unit">
        <th mat-header-cell *matHeaderCellDef> Unit </th>
        <td mat-cell *matCellDef="let element"> <input matInput  name="1unit" [value]="element.Unit"
            ></td>
        
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button name="SubmitBtn" color="primary">Pay</button> -->

<mat-card class="example-card">

    <mat-card-header>
        <mat-card-title>GUJJAR DAIRY</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>
            GUJJAR DAIRY Comming SOON! you will be able to order every thing from here.
        </p>
    </mat-card-content>
    
</mat-card>